.themeify.discoranged #temperature-table .btn{height:30px}.themeify.discoranged #temperature-table input{margin:0}.themeify.discoranged #temperature-table .btn + .btn:not(.dropdown-toggle){margin-left:3px}.themeify.discoranged #jog_distance{display:flex;width:174px}.themeify.discoranged #jog_distance .btn{flex:1;margin-right:5px;height:30px;padding:0}.themeify.discoranged #control-jog-feedrate .btn{height:30px}.themeify.discoranged #control-jog-z h1{width:30px}
.themeify.discoranged #slicer-viewport .report{display:none}.themeify.discoranged #slicer-viewport .btn{background:#fc8003}.themeify.discoranged #tab_plugin_slicer .translucent-blocker{background-color:#000}
.themeify.discoranged a#terminal-send {
    border-radius: 0 4px 4px 0;
    padding: 5px 10px;e;
}
.themeify.discoranged #tab_plugin_filemanager .entry-hover>div {
    line-height: 26px;
}
.themeify.discoranged #tab_plugin_filemanager .row-fluid [class*="span"] {
    min-height: auto;
}
.themeify.discoranged #tab_plugin_filemanager .container-fluid>.row-fluid {
    border: 0;
    border-radius: 3px;
}
.themeify.discoranged #tab_plugin_filemanager .header {
    background-color: #656b76;
    color: #e7e7e8;
    border-radius: 4px 4px 0 0;
    border: 0;
}
.themeify.discoranged #tab_plugin_filemanager .entry-hover>div {
    border-top: 1px solid #ddd;
    border-bottom: 0;
}
.themeify.discoranged #tab_plugin_filemanager .selected {
    background-color: #f5f5f522;
    color: #fc8003;
}
.themeify.discoranged #tab_plugin_filemanager .entry-hover div:hover {
    background-color: transparent;
}
.themeify.discoranged #tab_plugin_filemanager .entry-hover .row-fluid:hover {
    background-color: #656b76;
}
.themeify.discoranged #tab_plugin_filemanager .selected .text-success {
    color: #fc8003;
}
.themeify.discoranged #tab_plugin_filemanager .header [class*="span"] {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.themeify.discoranged #tab_plugin_filemanager .header [class*="span"]:first-child {
    padding-left: 10px;
}

.themeify.discoranged #tab_plugin_filemanager .btn-toolbar .btn {
    margin: 0 3px;
}

.themeify.discoranged #tab_plugin_filemanager .btn:not(.disabled) {
    background-color: #fc8003;
}
.themeify.discoranged .accordion-heading .fa,
.themeify.discoranged .nav-tabs .fa {
    margin-right: 5px;
}
.themeify.discoranged .dropdown-menu .active>a, 
.themeify.discoranged .dropdown-menu .active>a:hover {
    background-color: #fc8003;
    background-image: none;
}
.themeify.discoranged #tab_plugin_filemanager .filemanager_files_top {
    height: 500px;
}
.themeify.discoranged #tab_plugin_stlviewer canvas {
    border: 0 none!important;
}
.themeify.discoranged .fa-wrench:before,
.themeify.discoranged .icon-wrench:before {
    content: "\f013"!important;
}
.themeify.discoranged #navbar_touchui_settings .icon-wrench:before {
    content: "\f10b"!important;
}
.themeify.discoranged #sidebar_plugin_gcodebar .btn {
    height: 30px;
    border-radius: 0 4px 4px 0
}
.themeify.discoranged #sidebar_plugin_gcodebar input[type="text"] {
    width: 190px;
}
.themeify.discoranged .settings_plugin_cura_profiles_key span:nth-child(1) {
    width: 17px;
    display: inline-block;
    top: -6px;
    position: relative;
}
.themeify.discoranged .settings_plugin_cura_profiles_key span:nth-child(2) {
    max-width: 170px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.themeify.discoranged #control-jog-general .slider-horizontal {
    margin: 4px 5px 16px;
}